.vagrant
.ipynb_checkpoints
-*
*~
*.pyc
*.ipynb

*.ipynb

*.ipynb

*.ipynb

notebooks/week-2/04 - Lab 2 Assignment.ipynb

notebooks/week-2/04 - Lab 2 Assignment.ipynb

notebooks/week-2/04 - Lab 2 Assignment.ipynb
